a { text-decoration: none;}
ul {list-style: none;}
li {list-style: none;}
:root {
    --weblogo-color: #2196F3;
    --text-color: #000000;
    --background:#FFFFFF;
    --portcontacts-color: #212121;
    --tel-color:  #757575;
    --sectionbackgroung: #F5F4FA;
    --solutionbackground-color: #2F303A;
}
body {
font-family: Roboto, sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--text-color);
background: var(--background);
}

h1,
h2,
h3,
p {
margin-top: 0;
margin-bottom: 0;
}

ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
}

/* Вся секция - Шапка: */
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.header {
padding-top: 25px;
padding-bottom: 25px;
}
.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}
.navigation {
display: flex;
align-items: center;
}
.nav-list {
display: flex;
align-items: center;
}
.nav-listcontacts {
display: flex;
align-items: center;
}
.current {
color: var(--weblogo-color);}

.href:focus, .href:hover {
color:var(--weblogo-color);
}

.email:hover, .email:focus {
color: var(--weblogo-color);
}
.href:not(:last-child) {
margin-right: 50px;
font-weight: 500;
letter-spacing: 0.02em;
line-height: 1.14;
color: var(--portcontacts-color);
}

/*Шапка- лого */
.webstudio {
margin-right: 93px;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 00.03em;
}
.web {
color: var(--weblogo-color)}

.studio {
color: var(--text-color);}

.studio >footer {
    color: var(--text-color);
}
.email{
margin-left: auto;
margin-right: 50px;
}
.contacts {
color: var(--tel-color);
letter-spacing: 0.02em;
line-height: 1.14;
}

.contacts:hover{
color: var(--weblogo-color);
}

.contacts:focus {
color: var(--weblogo-color);
}

/* Блок эффективные решения - заказать услугу */
.solution {
height: 600px;
background: var(--solutionbackground-color);
}

.solution-text {
padding-top: 150px;
/* margin-left: auto;
margin-right: auto; */
font-size: 44px;
font-weight: 900;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--background);
}
/* Кнопка "Заказать услугу" */

button { 
    cursor: pointer;}

.button-orderservice {
margin-top: 30px;
margin-left: auto;
margin-right: auto;
font-size: 16px;
background: var(--weblogo-color);
color: var(--background);
border: 1px solid var(--text-color);
padding: 10px 32px;
border-radius: 4px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: 700;
line-height: 1.62;
}

/* Наши преимущества стили */
.advantages {
margin-top: 94px;
line-height: 1.71;
color: var(--tel-color);
} 
.advantages-text {
display: flex;
align-items: center;
}
.advantage:not(:last-child) {
margin-right: 30px;
}
.advantage-header {
line-height: 1.14;
font-size: 14px;
text-transform: uppercase;
color: var(--portcontacts-color);
}
.whatwedo {
margin-top: 94px;
}
.whatwedoheader {
padding-bottom: 34px;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--portcontacts-color);
}
.pics {
display: flex;
align-items: center;
}
/* Наша команда - стили */ 
.section-team {
height: 648px;
margin-top: 94px;
background: var(--sectionbackgroung);
text-align: center;
}

.ourteam-header {
padding-top: 94px;
padding-bottom: 50px;
font-size: 36px;
line-height: 1.16;
}
.team {
display: flex;
align-items: center;
}
/* Стиль секции с тенью */
.team-style {
box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.manager {
color: var(--portcontacts-color);
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
}

.position {
color: var(--tel-color);
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;
}

/*Футер-Вебстудия */
.footer {
    line-height: 1.71;
    background: var(--solutionbackground-color);}
.studiofooter {
    color: var(--background);
}
.footer-container{
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-footer {
display: flex;
align-items: center;
}
/* Футер- Адрес */
address {
font-style: normal;}
.address {
color: var(--background);
line-height: 1.71;
}
.contacts.footer {
color: var(--tel-color);
letter-spacing: 0.03em;
}
.contacts.footer:hover {
    color: var(--weblogo-color);
}

/* Стили для потрфолио */

.button-vse:hover {
background-color: var(--sectionbackgroung);
color: var(--text-color);}
.button-vse:focus {
color: var(--text-color);}

.button-other:hover, .button-other:focus {
background: var(--weblogo-color);
color: var(--background);}

.button-vse {
font-size: 16px solid;
font-weight: 500;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--background);
background-color: var(--weblogo-color);
mix-blend-mode: multiply;
box-shadow: var(--weblogo-color);
border-radius: 4px;
border: none;
padding: 6px 22px;}

.button-other {
font-size: 16px solid;
font-weight: 500;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--portcontacts-color);
background: var(--sectionbackgroung);
border-radius: 4px;
border: none;
padding: 6px 22px;}

.href.current {
color: var(--weblogo-color);}

.work-name {
font-size: 18px;
letter-spacing: 0.06em;
line-height: 2;}

.work-type {
font-style: Regular;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.03em;
line-height: 1.87;
color: var(--tel-color);}